$color-green: chartreuse;
$color-red: crimson;
$color-default: darkblue;

.counter-green {
    color: $color-green;
}
.counter-red {
    color: $color-red;
}
.counter-default {
    color: $color-default;
}
